.Container{
  text-align:center;
}

.navigation{
  display:flex;
  margin: 20px auto;
  background: white;
  height: 100%;
}
nav a{
  text-decoration:none;
  color: black;
  background:  lightgrey;
  margin:0 30px;
  padding: 10px 10px;
  cursor: pointer;
}

.nav a:hover{
  text-decoration: none;
}